.container {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: flex;
  align-items: center;

  .location {
    border-right: 1px solid #f2f2f2;
    font-family: "Mulish";
    font-style: normal;
    font-weight: normal;
    border-radius: 16px 0 0 16px;
    font-size: 14px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.1s;
    &:hover {
      background-color: rgba(221, 221, 221, 0.4);
    }
  }

  .guest {
    border-right: 1px solid #f2f2f2;
    font-family: "Mulish";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    padding: 20px;
    color: #bdbdbd;
    cursor: pointer;
    transition: all 0.1s;
    &:hover {
      background-color: rgba(221, 221, 221, 0.4);
    }
  }

  .icon {
    color: rgba(235, 87, 87, 0.9);
    padding: 15px;
    flex: initial;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover {
      transform: scale(1.25);
    }
  }
}
