html,
body {
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

.img {
  display: block;
  width: 45%;
  margin: auto;
}

.content_area {
  max-width: 1250px;
  margin: 0 auto;
  padding-top: 32px;
}

.footer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #a9a9a9;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}
