.container {
  padding-top: 110px;
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  animation-name: moveIn;
  animation-duration: 1s;

  .back {
    color: rgba(235, 87, 87, 0.9);
    width: fit-content;
    margin-left: 10%;
    padding-bottom: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.5);
    }
  }
}

.categories {
  display: flex;
  //align-items: baseline;
  width: 80%;
  margin: 0 auto;
  gap: 10px;
  margin-bottom: 20px;
  //align-items: center;

  .location_container {
    flex: 1;
    align-items: flex-start;

    .location_options {
      margin-top: 10%;
      font-family: "Mulish";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      color: #4f4f4f;

      .option_container {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
  .guests {
    flex: 1;
    align-items: flex-start;
  }
  .btn {
    flex: 1;
    align-items: flex-start;
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 2200px;
  width: 100%;
  //background: rgba(79, 79, 79, 0.4);
  backdrop-filter: blur(10px);
  animation-name: blur;
  animation-duration: 1s;
}

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  50% {
    opacity: 0.8;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blur {
  0% {
    backdrop-filter: blur(0);
  }
  50% {
    backdrop-filter: blur(5px);
  }
  100% {
    backdrop-filter: blur(10px);
  }
}
