.adult {
  font-family: "Mulish";
  margin-top: 10%;

  .txt {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;

    color: #000000;
  }
  .sub_txt {
    color: rgb(170, 170, 170);
  }
}

.counter {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 15px;
  span {
    display: inline-block;
    color: #000000;
    padding: 0 3px;
    cursor: pointer;
    transition: all 0.2s ease;
    &:first-child,
    &:last-child {
      background: rgb(236, 236, 236);
      border-radius: 3px;

      i {
        font-size: 0.95rem;
      }
      &:hover {
        background: rgba(235, 87, 87, 0.9);
        color: #fff;
      }
    }
    &:nth-child(2) {
      font-weight: bold;
      font-size: 1.1rem;
    }
  }
}
